/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
 
/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
 
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
 
/* ========================================
   Links
   ======================================*/
 
 
/*=========================================
    Main Styles
=========================================*/
html,
body {
  height: 100%;
  font-family: 'Veranda', sans-serif;
  background:#f0f0f0;
}

#container {
	padding: 10px 90px;
	margin: 0px 0px;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  *zoom: 1;
}



.site-wrapper{
  width: 768px;
  height: 1950px;
  margin: auto;
  
}

.header{
  height: 83px;
  border-bottom: 1px #ffffff solid;
  background:#e21b23;
  
}

.sub-head{
  height: 5px;
  background:#e21b23;

  
}

.header img{
  float:left;
}


.headline {
  float:left;
  color: #ffffff;
  font-size: 14px;
  font-weight:400;
  margin: 56px 20px;
  
}

.big-text {
  font-size:20px;
  font-weight:400;
}

.filter-expand{
	height:330px;
	background: #404141;
}

.hide{
  display: none; 
	
}

.filter-collapse {
 cursor:pointer;
 margin: 0 0 -3px 0 ;
  
}

.nav-wrap{
	margin: 0px 60px;
	padding: 25px 37px;
}

li a{
  text-decoration: none;
  color: #404141;
}



.list0 a {
 	margin:21px 1px;
 	background:#f1f2f2;
 	float: left;
 	text-align:center;
 	list-style:none;
 	color:#404141;
 	width:102px;
  padding:5px;
	
}

.list0 a.selected {
  background: #e21b23; /* Old browsers */
 	background: -moz-linear-gradient(top,  #e21b23 50%, #d4050d 51%); /* FF3.6+ */
 	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#e21b23), color-stop(51%,#d4050d)); /* Chrome,Safari4+ */
 	background: -webkit-linear-gradient(top,  #e21b23 50%,#d4050d 51%); /* Chrome10+,Safari5.1+ */
 	background: -o-linear-gradient(top,  #e21b23 50%,#d4050d 51%); /* Opera 11.10+ */
 	background: -ms-linear-gradient(top,  #e21b23 50%,#d4050d 51%); /* IE10+ */
 	background: linear-gradient(to bottom,  #e21b23 50%,#d4050d 51%); /* W3C */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e21b23', endColorstr='#d4050d',GradientType=0 ); /* IE6-9 */
  text-shadow: none;
  color: white;
}

.list1 a {
 	margin:21px 1px;
 	background:#f1f2f2;
 	float: left;
 	text-align:center;
 	list-style:none;
 	color:#404141;
 	width:102px;
  padding:5px;
	
}

.list1 a.selected {
  background: #e21b23; /* Old browsers */
 	background: -moz-linear-gradient(top,  #e21b23 50%, #d4050d 51%); /* FF3.6+ */
 	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#e21b23), color-stop(51%,#d4050d)); /* Chrome,Safari4+ */
 	background: -webkit-linear-gradient(top,  #e21b23 50%,#d4050d 51%); /* Chrome10+,Safari5.1+ */
 	background: -o-linear-gradient(top,  #e21b23 50%,#d4050d 51%); /* Opera 11.10+ */
 	background: -ms-linear-gradient(top,  #e21b23 50%,#d4050d 51%); /* IE10+ */
 	background: linear-gradient(to bottom,  #e21b23 50%,#d4050d 51%); /* W3C */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e21b23', endColorstr='#d4050d',GradientType=0 ); /* IE6-9 */
  text-shadow: none;
  color: white;
}

.list2 a {
	margin:21px 1px;
	background:#f1f2f2;
	float: left;
	text-align:center;
	list-style:none;
	padding:5px;
	color:#404141;
	width:179px;
	
	
}

.list2 a.selected {
  background: #e21b23; /* Old browsers */
 	background: -moz-linear-gradient(top,  #e21b23 50%, #d4050d 51%); /* FF3.6+ */
 	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#e21b23), color-stop(51%,#d4050d)); /* Chrome,Safari4+ */
 	background: -webkit-linear-gradient(top,  #e21b23 50%,#d4050d 51%); /* Chrome10+,Safari5.1+ */
 	background: -o-linear-gradient(top,  #e21b23 50%,#d4050d 51%); /* Opera 11.10+ */
 	background: -ms-linear-gradient(top,  #e21b23 50%,#d4050d 51%); /* IE10+ */
 	background: linear-gradient(to bottom,  #e21b23 50%,#d4050d 51%); /* W3C */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e21b23', endColorstr='#d4050d',GradientType=0 ); /* IE6-9 */
  text-shadow: none;
  color: white;
}

.list3 a {
	margin:21px 1px;
	background:#f1f2f2;
	float: left;
	text-align:center;
	list-style:none;
	padding:5px;
	color:#404141;
	width:131px;
	
	
}

.list3 a.selected {
  background: #e21b23; /* Old browsers */
 	background: -moz-linear-gradient(top,  #e21b23 50%, #d4050d 51%); /* FF3.6+ */
 	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#e21b23), color-stop(51%,#d4050d)); /* Chrome,Safari4+ */
 	background: -webkit-linear-gradient(top,  #e21b23 50%,#d4050d 51%); /* Chrome10+,Safari5.1+ */
 	background: -o-linear-gradient(top,  #e21b23 50%,#d4050d 51%); /* Opera 11.10+ */
 	background: -ms-linear-gradient(top,  #e21b23 50%,#d4050d 51%); /* IE10+ */
 	background: linear-gradient(to bottom,  #e21b23 50%,#d4050d 51%); /* W3C */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e21b23', endColorstr='#d4050d',GradientType=0 ); /* IE6-9 */
  text-shadow: none;
  color: white;
}


.filter-text{
	color: #ffffff;
	font-size: 20px;
	cursor: pointer;
	font-style: italic;
	font-weight: 200%;
	float: left;
	line-height: 200%;
	text-align: left;
	padding: 0 0 0 72px;
	width:696px;
  
  
}

.section-info{
	font-style: italic;
	
	color: #f1f2f2;
	font-size: 12px;
	margin: -10px 0px;
	clear: both;
}

.header-wrap{
  margin: 0 0 -3px 0;
}

.soup-container{
	background:#ffffff;
	min-height:490px !important;

	
}

.grid-item-overlay{
	position:absolute;
	cursor:pointer;
	margin: 0 10px;

}

.soup-info {
  background:#d4050d;
  opacity: .8;
 
	position:relative;

	width: 175px;
	height: 175px;
	border-radius: 47px 0;
	top:-30px;
	
}


.grid-item-overlay-small h1{
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 200;
  text-align: center;
  margin: 30px 10px 10px 10px;
  padding: 20px 5px 0 5px;
  
}

.more-info {
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #404141 50%, #000 51%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#404141), color-stop(51%,#000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #404141 50%,#000 51%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #404141 50%,#000 51%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #404141 50%,#000 51%); /* IE10+ */
	background: linear-gradient(to bottom,  #e404141 50%,#000 51%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404141', endColorstr='#000',GradientType=0 ); /* IE6-9 */
	padding: 5px 5px;
	margin:10px 35px;
	color: #fff;
	cursor:pointer;
	border-radius: 15px 0;
	position:absolute;
	bottom: 6px;
  left: 15px;
	
  
}

.more-info p{
	color:#ffffff;
	text-align: center;
	cursor:pointer;
  
}

/* Side navigation */

.side-nav{
	position:relative;
	left:-15%;
	width: 40px;
	cursor:pointer;
}

.side-nav img{
	margin:16px 0 0 0;
}


#reserve {
  border-right: 2px solid white;
}

.reserve-active{
  background: #42317f;
  cursor: pointer;
  padding: 0 8px 0 0;
	
  
}


#signature {
  border-right: 2px solid white;
}

.signature-active{
  background: #15833c;
  cursor: pointer;
  padding: 0 8px 0 0;
}


#classic {
  border-right: 2px solid white;
}

.classic-active{
  background: #c1151b;
  cursor: pointer;
  padding: 0 8px 0 0;
}

/* Soups 1 - 10 */

.soup-item1{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0000_TomatoSoup.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item2{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0001_SplitPeawithHamandBacon.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item3{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0002_Minestrone.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item4{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0003_ManhattanClamChowder.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}



.soup-item5{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0004_HealthyRequestChickenNoodle.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item6{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0005_GardenVegetable.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item7{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0006_CreamofMushroom.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item8{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0007_CreamofChicken.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item9{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0008_CreamofCelery.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item10{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0009_BeefBarley.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

/* Soups 11 - 20 */

.soup-item11{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0010_NewEnglangClamChowder.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item12{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0011_VegetableGarden.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item13{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0012_SouthwesternVeganChili.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item14{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0013_RusticBeef.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item15{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0014_italianwedding.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item16{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0015_CSO_FrenchOnionSm.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item17{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0016_CSO_ButternutSquashSm.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item18{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0017_ChiliConCarne.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item19{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0018_CAM_ChickenTortilla.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}


.soup-item20{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0019_blackbean.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

/* Soups 21-30 */

.soup-item21{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0020_CAM_MoroccanVegetable.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item22{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0021_WickedThaiStyleChicken&RiceSoup.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item23{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0022_RoastedRedPepper&SmokedGoudaBisque.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item24{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0023_LobsterBisquewithSherry.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item25{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0024_KoreanStyleBBQBeefSoup.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item26{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0025_JambalayawithChickenSausageandHam.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item27{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0026_CampbellsReserveTequilaSpikedChickenSoup.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item28{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0027_CampbellsReserveCrabBisquewithSherry.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item29{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0028_CampbellsReserveRoastedPoblano&WhiteCheddarwithTomatillos.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}

.soup-item30{
	width: 175px;
	height: 175px;
	background:url("../img/Soup_0029_CampbellsReserveBasilChickenChiliwithBeans.jpg") center;
	float: left;
	margin:10px 10px;
	border-radius: 47px 0;
}


/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}


